.BannerTop-inner{
    width: 100%;
    margin-top: 2em !important;
    padding: 3em 2em !important;
    border-radius: .25em;
}

.BannerTop-inner{
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-image: url("/public/images/static-components/BannerTop/banner-bg.png") !important;
}

/*bg*/
.BannerTop-inner.light{
    color: var(--text-dark);
    background: var(--bg-search-input-light);
}
.BannerTop-inner.dark{
    color: var(--white);
    background: var(--bg-search-input-dark);
}

/*text conatainer*/
.BannerTop-inner .text-container{
    max-width: 75%;
}

/*text*/
.BannerTop-inner .text-container h4,
.BannerTop-inner .text-container p.small{
    margin: 0;
    color: inherit;
    font-weight: 300;
}
/*button*/
.BannerTop-inner .text-container button{
    padding: .25em 3em;
    margin-top: 1em;
}