.offcanvas.dark {
    color: var(--white);
    background: var(--dark-bg);
}
.offcanvas.light {
    color: var(--text-dark);
    background: var(--white);
}

.offcanvas-body{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
