@media screen and (max-width: 991px){
    .NavbarTop .search-container{
        display: none;
    }
    .NavbarTop .logo{
        width: 135px;
    }
    .NavbarTop img.open-menu{
        display: inline-block;
    }
}

@media screen and (max-width: 350px){
    .NavbarTop .logo{width: 120px;}
    .briefcase-link{display: none;}
}
