/*синяя кнопка*/
button.btn-primary{
    background: var(--blue-main);
    border: var(--blue-main);
    padding: .25em .75em;
}

/*темная кнопка*/
button.but-dark{
    color: var(--border-nav-light);
    background: var(--bg-search-input-dark);
}
button.but-dark.border{
    background: none;
    border: 1px solid var(--white-op-25) !important;
}
/*light*/
button.but-light{
    color: var(--text-dark);
    background: var(--bg-search-input-light);
}
button.but-light.border{
    background: none;
    border: 1px solid var(--black-op-25) !important;
}
/*disabled bg*/
button.but-dark.border:disabled,
button.but-light.border:disabled,
button.but-dark.border:hover,
button.but-light.border:hover{
    background: var(--blue-main) !important;
}

/*прозрачная кнопка (hover синяя)*/
button.but-no-redact,
button.but-no-redact:disabled{
    padding: 0 .5em;
    background: none;
    display: flex;
    align-items: center;
}
button.but-no-redact.light{
    color: var(--text-dark);
}
button.but-no-redact:hover,
button.but-no-redact:active,
button.but-no-redact:focus{
    background: var(--blue-main);
    border: var(--blue-main);
}
