@media screen and (max-width: 768px){
    .MainData.exchanges header{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .MainData.exchanges header .left{
        width: 100%;
        margin-bottom: 1em;
    }

    .exchanges header .left img{
        width: 50px;
    }
}
