.GeneralGraph{
    margin: 2.5em 0 3em;
}

/*text header*/
.GeneralGraph h4{
    margin: 0 0 .15em 0;
    font-weight: 700;
}
.GeneralGraph p.small{
    font-weight: 400;
}
.GeneralGraph p.small strong{
    color: var(--blue-main);
    font-weight: 900;
}

/*sort header*/
.GeneralGraph header{
    padding: 1.25em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*graph*/

/*tooltip dark*/
.ExchangesGraph .recharts-default-tooltip,
.graph-coin.dark .recharts-default-tooltip{
    background: var(--dark-bg) !important;
    border: 1px solid var(--white-op-25) !important;
    border-radius: .25em;
}
.ExchangesGraph p.recharts-tooltip-label,
.graph-coin p.recharts-tooltip-label{
    font-weight: 700;
    color: var(--white);
}
/*tooltip light*/
.ExchangesGraph.light .recharts-default-tooltip,
.graph-coin.light .recharts-default-tooltip{
    background: var(--white) !important;
    border: 1px solid var(--black-op-25) !important;
    border-radius: .25em;
}
.ExchangesGraph.light p.recharts-tooltip-label,
.graph-coin.light p.recharts-tooltip-label{
    font-weight: 700;
    color: var(--text-dark);
}

/*gen-graph-cont FOR MOBILE*/
.GeneralGraph .gen-graph-cont-mobile{
    display: none;
    padding: 1.5em 1em;
    margin: .5em 0;
    border-radius: .25em;
    background-color: var(--bg-search-input-dark);
}
.GeneralGraph.light .gen-graph-cont-mobile{
    background-color: var(--bg-search-input-light);
}

.GeneralGraph .adv-chart-container{
    width: 100%;
    height: 500px;
}
