.MessageAlert{
    width: 300px;
    position: fixed !important;
    bottom: 0;
    left: 15px;
    z-index: 100;
    color: var(--white) !important;
    border:none !important;
}
.MessageAlert.alert-success{
    background: var(--bs-green) !important;
}
.MessageAlert.alert-danger{
    background: var(--bs-red) !important;
}