*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    user-select: none;
    transition: .3s;
}

:root{
    /*interest colors*/
    --blue-main:#326CF4;
    --blue-main-op50: rgba(50, 108, 244, 0.50);

    /*dark theme*/
    --dark-bg: #1A1A1A;
    --border-nav-dark:#373737;
    --bg-search-input-dark: #272727;

    /*light theme*/
    --text-dark: #1A1B27;
    --border-nav-light: #DCDCDC;
    --bg-search-input-light: #EFEFEF;

    /*other colors*/
    --white: #FFF;
    --white-op-75: rgba(255, 255, 255, 0.75);
    --white-op-50: rgba(255, 255, 255, 0.5);
    --white-op-25: rgba(255, 255, 255, 0.25);
    --white-op-15: rgba(255, 255, 255, 0.15);
    --black: #000;
    --black-op-50: rgba(0, 0, 0, 0.5);
    --black-op-25: rgba(0, 0, 0, 0.25);
    --black-op-15: rgba(0, 0, 0, 0.15);
    --gray: #555;
}

/*containers*/
.container{
    margin:auto;
}

/*основной родителтский контейнер*/
.general-container{
    min-height: 100vh;
}
.general-container.dark,
.container.dark{
    color: var(--white);
    background: var(--dark-bg);
}
.general-container.light,
.container.light{
    color: var(--text-dark);
    background: var(--white);
}

/*text*/
p.small, a.small, button.btn-sm{
    font-size: 13px !important;
    font-weight: 300;
}
@media screen and (max-width: 991px){
    p.small, a.small, button.btn-sm{
        font-size: 12px !important;
    }
}

/*полоса прокрутки*/
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--blue-main-op50);
    border-radius: .25em;
}
