*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

:root{
    --white:#FFF;
    --black:#000;
    --gray:#555;
}

.SearchResult{
    display: block;
    width: 100%;
    min-height: 50vh;
    background: var(--gray);
    border-radius: 1em;
    z-index: 10;
    position: absolute;
}

.container{
    margin:auto !important;
}