.CategoriesDataList{
    width: 100%;
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}

.CategoriesDataList .inner{
    width: calc(33% - .25em);
    padding: 1.5em .75em;
    border-radius: .25em;
    background: var(--bg-search-input-dark);
    margin: .25em 0;
}
.CategoriesDataList.light .inner{
    background: var(--bg-search-input-light);
}

/*text*/
.CategoriesDataList .inner p.small{
    margin: 0;
    opacity: .5;
    font-weight: 500;
}
.CategoriesDataList .inner h5{
    margin: 0;
    font-weight: 700;
}
