/*top text*/
.Categories header{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.Categories header p.small{
    width: 100%;
}

.categories-table{
    min-width: 700px;
}
.categories-table td.coins-logos img{
    width: 25px;
}
