/*table coin*/
.TopLoseCoins .container-table{
    width: calc(50% - .5em);
    overflow-x: hidden !important;
}

.TopLoseCoins select{
    width: 200px;
    margin-bottom: 1.3em;
}
.TopLoseCoins.dark select{
    font-weight: 700;
    border: 1px solid var(--bg-search-input-dark);
}
.TopLoseCoins.light select{
    border: 1px solid var(--border-nav-light);
}

.TopLoseCoins .container-table h6.top{
    border-left: 3px solid var(--bs-green);
    padding: .5em 0 .5em .5em;
}
.TopLoseCoins .container-table h6.lose{
    border-left: 3px solid var(--bs-red);
    padding: .5em 0 .5em .5em;
}

/*all tables container*/
.TopLoseCoins .tables-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*one table container*/
.TopLoseCoins .container-table{
    overflow-x: auto !important;
}
/*table*/
.TopLoseCoins .TopLoseCoinsTable{
    min-width: 400px !important;
}
.TopLoseCoins .TopLoseCoinsTable td img{
    border-radius: .25em;
    width: 25px;
    margin-right: 5px;
}
