@media screen and (max-width: 400px) {
    .NotFoundPageInner .container img{
        width: 250px;
    }
    .NotFoundPageInner .container .text-container h1{
        font-size: 20px;
        margin-bottom: 0;
    }
}